services:

  # Grafana: The open and composable observability and data visualization platform. Visualize metrics, logs, and traces from multiple sources.
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - proxy
    volumes:
      - /docker/grafana:/var/lib/grafana
    environment:
      - GF_PLUGINS_PREINSTALL=grafana-clock-panel
      - TZ=${TZ}
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
    restart: ${RESTART_POLICY}
    labels:
     - homepage.group=Analytics
     - homepage.name=Grafana
     - homepage.icon=grafana.png
     - homepage.href=https://grafana.rjester.us/
     - homepage.description=Grafana
     - traefik.enable=true
     - traefik.http.routers.grafana.rule=Host(`grafana.rjester.us`)
     - traefik.http.routers.grafana.entrypoints=https
     - traefik.http.routers.grafana.tls=true
     - traefik.http.services.grafana.loadbalancer.server.port=3000
networks:
  proxy:
    external: true
  